# Server-Side Config
# Rename to .env in production

# AI Keys
GEMINI_API_KEY=AIzaSyCOqhcCx99e9zzMAaQ5nzypnC5paV1GG4c
OPENAI_API_KEY=YOUR_OPENAI_KEY
DEEPSEEK_API_KEY=sk-7f6841dcf3d14e37952623cb0f0a5efa
DEEPSEEK_URL=https://api.deepseek.com/v1
USE_LOCAL_LLM=True

# Security (Must match Laptop)
AUTH_TOKEN=SUPER_SECRET_DRONE_KEY_123

# Port
PORT=8000
